# Data Preparation

## Handling missing values

##### Identify missing Data

In [1]:
import pandas as pd 

df = pd.read_csv("../data/students.csv") 
df.head()

,Student_ID,Name,Age,Math_Score,Science_Score,English_Score,Address,Zip_Code
0,1001,Grace,20,70.0,95.0,80.0,135 Maple St,23456.0
1,1002,David,22,70.0,100.0,85.0,NaN,34567.0
2,1003,Hannah,23,100.0,100.0,75.0,456 Oak St,56789.0
3,1004,Eve,23,70.0,85.0,95.0,975 Walnut St,23456.0
4,1005,Grace,22,70.0,80.0,90.0,789 Pine St,56789.0

In [2]:
missing_mask = df.isnull() 
print(missing_mask)

     Student_ID   Name    Age  Math_Score  Science_Score  English_Score  \
0         False  False  False       False          False          False
1         False  False  False       False          False          False
2         False  False  False       False          False          False
3         False  False  False       False          False          False
4         False  False  False       False          False          False
..          ...    ...    ...         ...            ...            ...
995       False  False  False       False          False          False
996       False  False  False       False          False           True
997       False  False  False       False          False          False
998       False  False  False       False          False          False
999       False  False  False       False          False          False

     Address  Zip_Code
0      False     False
1       True     False
2      False     False
3      False     False
4      False     False
..       ...       ...
995     True     False
996    False     False
997    False     False
998    False      True
999    False     False

[1000 rows x 8 columns]

##### Identify rows with missing values

In [3]:
rows_with_missing = df[missing_mask.any(axis=1)] 
print(rows_with_missing)

     Student_ID     Name  Age  Math_Score  Science_Score  English_Score  \
1          1002    David   22        70.0          100.0           85.0
6          1007  Charlie   23        85.0           95.0           70.0
7          1008    Grace   23         NaN           80.0           80.0
8          1009   Hannah   23        80.0            NaN            NaN
9          1010      Eve   23        90.0           95.0            NaN
..          ...      ...  ...         ...            ...            ...
993        1994   Hannah   21        70.0           95.0           75.0
994        1995    Grace   22        90.0           75.0           75.0
995        1996    Julia   21        90.0           90.0           70.0
996        1997    Julia   21        95.0           75.0            NaN
998        1999      Bob   21        95.0           90.0           95.0

           Address  Zip_Code
1              NaN   34567.0
6     246 Cedar St       NaN
7              NaN   45678.0
8    975 Walnut St   45678.0
9              NaN   67890.0
..             ...       ...
993            NaN   67890.0
994            NaN       NaN
995            NaN   34567.0
996   246 Cedar St   12345.0
998     123 Elm St       NaN

[550 rows x 8 columns]

##### Dropping Rows with Missing Values

In [4]:
df_dropped_rows = df.dropna() 
print(df_dropped_rows)

     Student_ID    Name  Age  Math_Score  Science_Score  English_Score  \
0          1001   Grace   20        70.0           95.0           80.0
2          1003  Hannah   23       100.0          100.0           75.0
3          1004     Eve   23        70.0           85.0           95.0
4          1005   Grace   22        70.0           80.0           90.0
5          1006   Julia   23       100.0           95.0           80.0
..          ...     ...  ...         ...            ...            ...
987        1988     Eve   20       100.0           75.0           90.0
988        1989   David   21       100.0           95.0           85.0
990        1991  Hannah   20        85.0           90.0           75.0
997        1998  Hannah   22        90.0           90.0           80.0
999        2000    Ivan   21        95.0           75.0           80.0

           Address  Zip_Code
0     135 Maple St   23456.0
2       456 Oak St   56789.0
3    975 Walnut St   23456.0
4      789 Pine St   56789.0
5       123 Elm St   12345.0
..             ...       ...
987   135 Maple St   56789.0
988     123 Elm St   56789.0
990     456 Oak St   45678.0
997     123 Elm St   56789.0
999   135 Maple St   34567.0

[450 rows x 8 columns]

##### Dropping Rows with Missing Values in Specific Columns

In [5]:
df_dropped_specific = df.dropna(subset=['Math_Score', 'Science_Score']) 
print(df_dropped_specific)

     Student_ID    Name  Age  Math_Score  Science_Score  English_Score  \
0          1001   Grace   20        70.0           95.0           80.0
1          1002   David   22        70.0          100.0           85.0
2          1003  Hannah   23       100.0          100.0           75.0
3          1004     Eve   23        70.0           85.0           95.0
4          1005   Grace   22        70.0           80.0           90.0
..          ...     ...  ...         ...            ...            ...
995        1996   Julia   21        90.0           90.0           70.0
996        1997   Julia   21        95.0           75.0            NaN
997        1998  Hannah   22        90.0           90.0           80.0
998        1999     Bob   21        95.0           90.0           95.0
999        2000    Ivan   21        95.0           75.0           80.0

           Address  Zip_Code
0     135 Maple St   23456.0
1              NaN   34567.0
2       456 Oak St   56789.0
3    975 Walnut St   23456.0
4      789 Pine St   56789.0
..             ...       ...
995            NaN   34567.0
996   246 Cedar St   12345.0
997     123 Elm St   56789.0
998     123 Elm St       NaN
999   135 Maple St   34567.0

[743 rows x 8 columns]

##### Dropping Columns with Missing Values

In [6]:
df_dropped_columns = df.dropna(axis=1)
print(df_dropped_columns)

     Student_ID    Name  Age
0          1001   Grace   20
1          1002   David   22
2          1003  Hannah   23
3          1004     Eve   23
4          1005   Grace   22
..          ...     ...  ...
995        1996   Julia   21
996        1997   Julia   21
997        1998  Hannah   22
998        1999     Bob   21
999        2000    Ivan   21

[1000 rows x 3 columns]

##### Dropping Columns with the Highest Number of Missing Values

In [7]:
missing_counts = df.isnull().sum()
column_to_drop = missing_counts.idxmax()
df_dropped_highest_missing = df.drop(columns=[column_to_drop])
print(df_dropped_highest_missing)

     Student_ID    Name  Age  Math_Score  Science_Score  English_Score  \
0          1001   Grace   20        70.0           95.0           80.0
1          1002   David   22        70.0          100.0           85.0
2          1003  Hannah   23       100.0          100.0           75.0
3          1004     Eve   23        70.0           85.0           95.0
4          1005   Grace   22        70.0           80.0           90.0
..          ...     ...  ...         ...            ...            ...
995        1996   Julia   21        90.0           90.0           70.0
996        1997   Julia   21        95.0           75.0            NaN
997        1998  Hannah   22        90.0           90.0           80.0
998        1999     Bob   21        95.0           90.0           95.0
999        2000    Ivan   21        95.0           75.0           80.0

           Address
0     135 Maple St
1              NaN
2       456 Oak St
3    975 Walnut St
4      789 Pine St
..             ...
995            NaN
996   246 Cedar St
997     123 Elm St
998     123 Elm St
999   135 Maple St

[1000 rows x 7 columns]

### Imputations

In [ ]:
# create a copy of the original DataFrame to work with 
df_imputed = df.copy() 
print(df_imputed.head())

##### Mode Imputation

In [ ]:
# Fill missing 'Name' values with the most common name
most_common_name = df_imputed['Name'].mode()[0]
df_imputed['Name'].fillna(most_common_name, inplace=True)
print(df_imputed['Name'].value_counts())

##### Mean Imputation

In [ ]:
# Fill missing 'Age' values with the mean age
mean_age = df_imputed['Age'].mean()
df_imputed['Age'].fillna(mean_age, inplace=True)
print(df_imputed['Age'].describe())

##### Conditional imputation

In [ ]:
# Fill missing 'Zip_Code' values based on 'Address'
address_zip_mapping = {
    '123 Elm St': 12345,
    '456 Oak St': 23456,
    '789 Pine St': 34567,
    '135 Maple St': 45678,
    '246 Cedar St': 56789,
    '975 Walnut St': 67890
}

# Impute missing Zip_Code values conditionally
df_imputed['Zip_Code'] = df_imputed.apply(
    lambda row: address_zip_mapping.get(row['Address'], row['Zip_Code']) if pd.isnull(row['Zip_Code']) else row['Zip_Code'], 
    axis=1
)
print(df_imputed[['Address', 'Zip_Code']].drop_duplicates())

##### KNN Imputation

In [ ]:
from sklearn.impute import KNNImputer

# We need to select the columns we want to apply KNN Imputation to
columns_to_impute = ['Age', 'Math_Score', 'Science_Score', 'English_Score', 'Zip_Code']

# Initialize the KNN Imputer
knn_imputer = KNNImputer(n_neighbors=5)

# Apply KNN Imputation on the selected columns
df_imputed_knn = df_imputed.copy()
df_imputed_knn[columns_to_impute] = knn_imputer.fit_transform(df_imputed[columns_to_impute])

print(df_imputed_knn.head())

In [ ]:
print(df_imputed_knn[columns_to_impute].head(10))